/* General container style */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #000000; /* Dark background color */
  color: white; /* White text color */
  padding: 20px; /* Space at the top of the page */
  margin: 20px 150px; /* Adjusted margins: top/bottom 20px, left/right 150px */
}

/* Welcome heading style */
.welcomeHeading {
  font-size: 2.5rem;
  color: white; /* White text color */
  margin-bottom: 40px; /* Space below the heading */
  font-weight: 500;
  align-self: flex-start; /* Align to the left end */
}

/* Sub boxes style */
.subBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; /* Ensure sub-boxes take full width */
}

.subBox {
  background-color: #0c0c0c;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex: 1;
  min-width: 250px; /* Minimum width for each sub-box */
  margin: 10px;
}

.subBox h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0;
}

.subBox p {
  margin-bottom: 0;
}

/* Unread Messages Widget */
.unreadMessageWidget {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profilePicture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.messageDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.messageDetails h4, .messageDetails p, .messageDetails span {
  margin: 0;
  font-size: 1rem;
}

@media (min-width: 600px) {
  .subBox {
    width: 48%; /* Two boxes per row for larger screens */
  }
}

@media (min-width: 900px) {
  .subBox {
    width: 30%; /* Three boxes per row for larger screens */
  }
}
