.Starter {
  font-family: 'inter';
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 600%;
  font-weight: 400;
}
.Starter h2 {
  margin-right: 5%;
  margin-left: 5%;
}

.Starter-p2 {
  font-family: 'inter';
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 50%;
  font-weight: 200;
  margin: -2% 2%;
}

.Starter button {
  font-family: 'inter';
  font-size: 24%;
  color: rgb(255, 255, 255);
  background-color: #6e5494;
  border-radius: 8px;
  border-color: #6e5494;
  width: 8%;
  outline: none;
  cursor: pointer;
  border: none;
  padding: .5%;
  margin-top: 3%;
}

.listo li {
  font-family: 'inter';
  text-align: left;
  font-size: 40%;
  margin-left: 5%;
  font-weight: 200;
}

.listotwo li {
  font-family: 'inter';
  text-align: left;
  font-size: 40%;
  margin-left: 65%;
  margin-right: 5%;
  font-weight: 200;
}

.DevSub {
  font-family: 'inter';
  color: rgb(255, 255, 255);
  font-weight: 300;
  margin-left: 50%;
  margin-right: 5%;
  font-size: 80%;
}

.PostSub {
  font-family: 'inter';
  color: rgb(255, 255, 255);
  font-weight: 300;
  margin-left: 5%;
  margin-right: 50%;
  font-size: 80%;
}

.codelogo {
  float: right;
  position: relative;
  margin: 15%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 0%;
  scale: 200%;
  border-radius: 3%;
}

.codeexample {
  position: relative;
  margin: 15%;
  margin-top: 2%;
  float: left;
  border-radius: 3%;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box {
  flex: 0 0 calc(48% - 20px);

  margin-bottom: 0; /* Remove margin between boxes */
  margin-left: 1.25%;
  margin-top: 2%;
  margin-right: 1.25%;
  background-color: #000000;
  font-size: 25%;
  border-radius:  17px; /* Remove border radius for all boxes */
}

.box:first-child {
  border-bottom-left-radius: 8px; /* Add border radius only to the bottom left corner of the first box */
  border-bottom-right-radius: 8px; /* Add border radius only to the bottom right corner of the first box */
}

.box:last-child {
  border-top-left-radius: 8px; /* Add border radius only to the top left corner of the last box */
  border-top-right-radius: 8px; /* Add border radius only to the top right corner of the last box */
}

.box-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #6e5494;
  border-radius: 17px 17px 0 0 ; /* Remove border radius for all box sections */
  margin-bottom: 0; /* Remove margin between sections */
}

.Starter-middle .box-section:last-child {
  margin-bottom: 0; /* Remove margin bottom for the last box section */
}

.job-info, .user-info {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically center */
}

.job-title, .user-name {
  font-weight: bold;
}

.compensation, .monthly-earnings {
  margin-left: 10px; /* Add some space between job/user title and compensation/earnings */
}

.poster-info {
  margin-top: 5px; /* Add some space between job info and poster info */
  font-size: 14px;
  color: #666;
  text-align: left;
}
