/* Styles for the popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(20, 20, 20);
    padding: 40px; /* Increased padding */
    border: 1px solid  #6e5494;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increased box shadow */
    width: 70%; /* Increased width */
    border-radius: 10px;
    max-width: 200%; /* Added max-width to prevent it from becoming too wide */
  }
  
  /* Styles for form elements */
  label {
    display: block;
    margin-bottom: 5px;
    color:  #6e5494;;
    font-family: 'inter';
  }
  .PopupHeading{
     color: aliceblue;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .CreateJob{
    color: antiquewhite;

  }
  .PosterButton {
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 10%;
    background-color:  #6e5494;;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'inter';
    
  }
  
 .PosterButton:hover {
    background-color: #2f2341;;
  }
  
  .cancel-button {
    background-color: #dc3545;
  }
  
  .cancel-button:hover {
    background-color: #bd2130;
  }
  
  body{
    font-family: 'inter';
  }