.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 8rem;
    gap: 20px;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .sidebar {
    background-color: #052141f4;
    padding: 20px;
    color: white;
  }
  
  .main-content {
    background-color: #052141f4;
    padding: 20px;
    overflow-y: auto;
    color: white;
  }

  .main-profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 8rem;

  }

  .horizontalBar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 100px;
    background-color: #4114bb;
    border: 1px solid #1c127a;
    border-radius: 5px;
  }
  
  .box {
    flex: 1;
    margin: 0 20px;
    padding: 50px;
    background-color: #7700a7;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .box:first-child {
    margin-left: 0;
  }
  
  .box:last-child {
    margin-right: 0;
  }
  