*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.nav {
    background-color: rgb(20, 20, 20);
    color: rgb(0, 121, 226);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
  
    position: fixed;  /* Make the element fixed */
    top: 0;  /* Position it at the top of the viewport */
    left: 0;  /* Position it at the left of the viewport (optional) */
    width: 100%;  /* Make it span the full width of the viewport */
    z-index: 10;  /* Ensure it stays on top of other content (optional) */

  }
  
 
  
.nav ul {
    padding: 1rem;
    margin:0;
    list-style: none;
    display: flex;
    gap: 8rem;
    color:#6e5494;
   font-size: .75rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display:flex;
    align-items: center;
    padding: .25rem;
    font-family:'Inter';

}
.nav li:hover {
  color: rgb(255, 255, 255);
 
}

